# Book settings
title: Notes on Orbital Mechanics for Engineering Students
author: Bryan Weber
logo: hohmann.png

exclude_patterns:
  - homework
  - raw_svg
  - drawing-scripts
  - docker
  - assets
  - blender

latex:
  latex_documents:
    targetname: book.tex

execute:
  execute_notebooks: "auto"

sphinx:
  extra_extensions:
    - myst_nb_bokeh
    - sphinx_inline_tabs
  config:
    html_show_copyright: false
    html_extra_path: ["assets"]
    mathjax3_config:
      tex:
        macros:
          vector: ["\\boldsymbol{#1}", 1]
          uvec: ["\\boldsymbol{\\hat{#1}}", 1]
          mag: ["\\lVert#1\\rVert", 1]
          cross: "\\times"
          unit: ["#1~\\mathrm{#2}", 2]
          pf: ["\\overline{#1}", 1] # This is for the perifocal frame
          mat: ["\\left[\\mathbf{#1}\\right]", 1]
          COG: "\\mathrm{COG}" # Center of gravity

myst_enable_extensions:
  - colon_fence

repository:
  url: https://github.com/bryanwweber/orbital-mechanics-notes
  branch: main

html:
  use_edit_page_button: true
  use_repository_button: true
  use_issues_button: true
  extra_footer: |
    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text"><a rel="cc:attributionURL" property="dct:title" href="https://bryanwweber.github.io/orbital-mechanics-notes">Notes on Orbital Mechanics for Engineering Students</a> by <span property="cc:attributionName">Bryan Weber</span> is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" /></a></p>
  baseurl: "https://orbital-mechanics.space"

bibtex_bibfiles:
  - references.bib
