https://github.com/bryanwweber/jupyter-book/archive/bump-deps.zip
matplotlib
numpy
scipy
poliastro
astropy
sympy
https://github.com/bryanwweber/MyST-NB/archive/paste-bokeh-json.zip
bokeh
markdown-it-py>=1.1.0
